/* reset */
html,body, .body{
	font-family: Tahoma,Verdana,sans-serif !important;
	background: url(images/body_bg.jpg);
	color:#7B6651;
}

table td {
	padding:0px;
}

p {
	margin:0;
	padding:6px 0 5px;
}

ul.menu, .arr_all {
    margin  :0 0 0 22px;
    padding :0 0 1px 0;
}

ul.menu li {
	margin:0;
	padding:0;
	list-style-type:none;
}

form {
	padding:0;
	margin:0;
}

a:link,
a:visited,
a:active {
	text-decoration:underline;
	color:#494848;
}

a:hover {
	text-decoration:none;
}

img {
	border:0;
	margin:0;
	padding:0;
}

/* design */

#footer {
	height: 48px;
}
.clear {
	clear: both;
}


#wrapper {
	width: 100%;
	width: expression((documentElement.clientWidth||document.body.clientWidth)<995?'1000px':'');
	min-width: 1000px;
	padding:35px 0 15px;
}

.container {
	width: 100%;
}

.content {
	width: 100%;
	float: left;
}
.text {
	margin-right:295px;
	margin-left:64px;
}
.left {
	float: left;
	width: 64px;
	margin-left: -100%;
}
.right {
	float: left;
	width: 295px;
	margin-left: -295px;
}

#f_left {
	background:url(images/f_left_img.png) no-repeat;
	width:112px;
	height:48px;
	padding-bottom:0;
}


#f_cent {
	background:url(images/f_repeat_bg.png) repeat-x;
	height:48px;
}

#f_right {
	background:url(images/f_right_img.png) no-repeat;
	width:342px;
	margin-left:-342px;
	height:48px;
}

.fix_center_f {
	margin-right:342px;
	margin-left:112px;
}

.m_left {
	background:url(images/m_repeat_left.png) repeat-y;
	height:100%;
}

#m_right {
	background:url(images/m_repeat_right.png) repeat-y;
}

#m_right_bottom {
	background:url(images/m_right.png) no-repeat 0 100%;
	height:100%;
}

#conbox {
	background: url(images/conbox_bg.png);
}

#in_txt_repeat_bottom {
	background:url(images/in_txt_repeat_bottom.png) repeat-x bottom;
	width:100%;
}


#in_txt_repeat_y_left {
	background:url(images/in_txt_repeat_y_left.png) repeat-y left;
}

#in_txt_repeat_y_right {
	background:url(images/in_txt_repeat_y_right.png) repeat-y right;
}

#left_cont_b {
	background:url(images/left_cont_b.png) no-repeat left bottom;
}

#right_cont_b {
	background:url(images/right_cont_b.png) no-repeat right bottom;
}

.top {
	height:110px;
}

#t_left {
	background:url(images/t_left.png) no-repeat;
	width:151px;
	position:relative;
}

#t_repeat {
	background:url(images/t_repeat.png) repeat-x;
}

.fix_t {
	margin-left:151px;
	margin-right:328px;
}

#t_right {
	background:url(images/t_right.png) no-repeat;
	width:328px;
	margin-left:-328px;
}

#inside_t_right {
	background:url(images/t_cent_right.png) no-repeat right top;
	width:100%;
}

#main_box {
	background:url(images/main_box.png) no-repeat right top;
	border:2px solid #B1957C;
	padding:7px;
}


#t_left #logo {
	left:70px;
	top:43px;
	position:absolute;
}

#inside_box {
	background:#FFFFFF;
	border:1px solid #B1957C;
}


/* content */

#content_box {
	min-height:580px;
	height:auto !important;
	height:580px;
	padding:13px 20px 45px;
	position:relative;
}

#content_box h1 {
	color:#920000;
	font-size:19px;
	font-weight:bold;
	margin:0;
	padding:0 0 7px 0;
}


.news {
	font-size:12px;
	color:#7B6651;
	padding:0 0 3px;
	margin:7px 0 15px;
}

.news img {
/*
	width:143px;
	height:136px;
*/
	border:6px solid #DCC8BA;
	margin:6px 7px 0 0;
}

h1,h2,h3 {
	margin:0;
	padding:0;
	font-size:16px;
}

.news .title {
	/*border-bottom:1px solid #DBC8B9;*/
	display:block;
	color:#920000;
	margin:0;
	line-height:15px;
}


.news .h2 {
	line-height:16px;
	padding:0 0 4px 17px;
}

.news h3 {
	margin:0 0 2px;
}

.news h4 {
	font-size:13px;
	font-weight:bold;
	color:#7B6651;
	margin:5px 0 0;
	padding:0;
}

.news h3 {
	font-size:14px;
	padding:0 0 3px 17px;
}

.news .d_autor {
	color:#B1A293;
	font-size:11px;
	font-weight:bold;
	padding:2px 0 0 11px;
	display:block;
}

.news .lbox {
	text-align:right;
}

.news p {
	padding:2px 15px 3px;
	line-height:19px;
}

.news a:link,
.news a:active,
.news a:visited {
	color:#B1A293;
	text-decoration:underline;
	margin:3px 10px 0 0;
}

.news a:hover {
	text-decoration:none;
}

.table_box {
	margin:10px 20px;
}

.table_box td,th {
	line-height:25px;
	border-left:2px solid #EEE2D4;
	padding:0 15px 2px;
}

.table_box .tbg {
	background:#EEE2D4;
}

.table_box .t_title {
	font-size:13px;
	color:#492800;
	font-weight:bold;
}

.table_box table {
	border:2px solid #EEE2D4;
}


.percent {
	color:#492800;
}

.quote {
	background:#EEE2D4;
	border:1px solid #D5BEAA;
	margin:20px 0 0;
	padding:12px 20px 14px;
	line-height:17px;
	color:#7B6651;
	font-size:12px;
	font-weight:bold;
}

.footer {
	position:absolute;
	height:40px;
	line-height:30px;
	bottom:7px;
	font-size:13px;
	font-weight:bold;
	color:#D6BFAB;
	text-align:center;
	width:100%;
}


.fl {
	float:left;
	margin:3px 0 15px;
}


.div_box {
	float:left;
	width:100%;
}

.cool_box_l {
	float:left;
	width:33%;
	background:url(images/div_delemiter.gif) no-repeat right center;
	min-height:93px;
	height:auto !important;
	height:93px;
	display: inline;
}

.cool_box_r {
	float:left;
	width:30%;
	min-height:93px;
	height:auto !important;
	height:93px;
	display: inline;
}

.div_box ul {
	float:left;
	margin-top:1px;
	padding-left:25px;
}

.div_box ul li {
	color:#7B6651;
	font-size:12px;
	font-weight:bold;
	line-height:21px;
}


/* menu */

.hide_menu {
	width:241px;
	float:right;
}

.top_menu {
	width:241px;
	height:60px;
	background: url(images/top_menu.png) no-repeat;
}

.bot_menu {
	width:241px;
	height:54px;
	background: url(images/bottom_menu.png) no-repeat;
}

.repeat_menu {
	width:241px;
	background:url(images/repeat_menu.png) repeat-y;
}

.dm_top {
	background:url(images/dm_top.png) no-repeat top;
	min-height:30px;
	height:auto !important;
	height:30px;
}

.arr_all {
	width:165px;
	color:#FFF;
	font-size:18px;
	line-height:25px;
	border-bottom:1px solid #A43C3C;
}

.arr_top {
	background:url(images/arrow_top.png) no-repeat right top;
}

.arr_bottom {
	background:url(images/arrow_bottom.png) no-repeat right bottom;
}

.menu {
	margin-left:13px;
}

.menu li {
	line-height:18px;
	padding-left:30px;
}

.menu li a:link,
.menu li a:visited,
.menu li a:active {
	text-decoration:none;
	color:#FFC7C7;
	font-size:13px;
}
.menu li a:hover {
	text-decoration:underline;
}

.current {
	background:url(images/current.png) no-repeat left center;
}


/* login */


.login {
	width:170px;
	padding:15px 0 0 43px;
}

.login .log {
	width:145px;
	background:#861817;
	color:#C48080;
	font-size:13px;
	border:1px solid #B53D3D;
	height:25px;
	line-height:23px;
	padding:0 5px 0 0;
	margin:4px 0;
	text-align:right;
}

.login .button {
	background:none;
	border:none;
	font-size:21px;
	line-height:17px;
	color:#FFFFFF;
	cursor:pointer;
	padding:12px 23px 0 0;
	width:110px;
}

.send {
	background:url(images/cls.png) no-repeat right;
	height:56px;
	text-align:right;
	margin-right:5px;
}


/* delimiters */


.del_1 {
	background:url(images/content_delimiter_1.gif) no-repeat center;
	width:100%;
	height:25px;
	margin:20px auto;
}

.del_2 {
	background:url(images/content_delimiter_2.gif) no-repeat center;
	width:100%;
	height:9px;
	margin:20px auto;
}

.del_3 {
	background:url(images/content_delimiter_3.gif) no-repeat center;
	width:100%;
	height:11px;
	margin:20px auto;
}

.del_4 {
	background:url(images/content_delimiter_4.gif) no-repeat center;
	width:100%;
	height:9px;
	margin:20px auto;
}




/* замена классов */

/* Лента */
#header .top_lenta {
	background:url(images/top_lenta.png) no-repeat;
}

#footer .f_left_lenta {
	background:url(images/f_left_img_lenta.png) no-repeat;
	width:112px;
	height:48px;
}

.m_left_lenta {
	background:url(images/repeat_lenta.jpg) repeat-y;
}

/* ---- */

/* скрываем меню удаляем div.hide_menu */

	.wrapper_hiden {
		display:none;
	}
	
/* ---- *

/*смещение блоков */

#wrapper .removal_top {
	margin-right: 205px;
}

#wrapper .removal_mid {
	margin-right: 172px;
}

#wrapper .wrapp_f_cent {
	margin-right: 219px;
}

#wrapper .wrapp_t_right {
	width:205px;
	margin-left:-205px;
}

#wrapper .wrapp_m_right {
	width:172px;
	margin-left:-172px;
}

#wrapper .wrapp_f_right {
	width:219px;
	margin-left:-219px;
}

/* Temprary for map's results */

#inside_box, #result {
    background:#FFFFFF;
    border:1px solid #B1957C;
}