
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #A4896D;
}

 body, .body{
	background: #F4E7DB url(images/img01.gif) repeat-x;
}

h1, h2, h3 {
	color: #B43939;
}

h1 {
	text-align: center;
}

h2 {
	margin-bottom: .8em;
	font-size: 2em;
	font-weight: normal;
}

h3 {
	margin-bottom: 1em;
	font-size: small;
}

p, blockquote, ul, ol {
	margin-bottom: 1.4em;
	line-height: 1.8em;
}

p {
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
	padding: 1em 1em 0 1em;
	background: #FAF3ED;
	border: 1px dotted #C7894C;
	font-style: italic;
	color: #C7894C;
}

ul {
	margin-left: 3em;
}

ul li {
}

ol {
	margin-left: 3em;
}

ol li {
}

a {
	text-decoration: none;
	color: #B43939;
}

a:hover {
	text-decoration: underline;
}

img {
}

.hr hr {
	display: none;
}

.hr {
	clear: left;
	height: 70px;
	background: url(images/img04.gif) no-repeat center;
}

/* Boxed Style */

.boxed {
	margin-bottom: 20px;
	padding-bottom: 16px;
	background: url(images/img06.gif) no-repeat center bottom;
}

.boxed .title {
	background: url(images/img05.gif) no-repeat right;
	font-size: 1.6em;
}

.boxed .content {
	border-bottom: 1px dotted #C7894C;
}

/* Content */

#content {
}

/* Content > Main */

#main {
	margin: 0 260px 0 20px;
	padding: 15px;
	background: #FFFFFF;
	border: 5px solid #C7894C;
}

#extra {
	height: 31px;
	margin: 0 260px 0 20px;
	background: url(images/img02.gif) repeat-x;
}

/* Content > Main > Welcome */

#welcome {
}

/* Content > Main > Example */

#example {
}

/* Content > Sidebar */

#sidebar {
	float: right;
	width: 220px;
	padding: 60px 20px 0 0;
}

/* Content > Sidebar > Menu */

#menu {
	margin-bottom: 30px;
	border-bottom: 4px solid #C7894C;
}

#menu ul {
	margin: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	padding: 10px;
	border-top: 1px solid #C7894C;
	font-weight: bold;
}

#menu a:hover, #menu .active a {
	background: #C7894C;
	text-decoration: none;
	color: #FFFFFF;
}

/* Content > Navigation menu */

#nav, #nav ul{
    margin:0;
    padding:0;
    list-style-type:none;
    list-style-position:outside;
    position:relative;
    line-height:1.5em; 
}

#nav a{
    display:block;
    padding:0px 5px;
    border:1px solid #aaa;
    /* color:#fff; */
    text-decoration:none;
    background-color:#ececec;
}

#nav a:hover{
    background-color:#fff;
    color:#333;
}

#nav li{
    float:left;
    position:relative;
}

#nav ul {
    position:absolute;
    display:none;
    width:10em;
    /*top:1.5em;*/
}

#nav li ul a{
    width:10em;
    height:auto;
    float:left;
}

#nav ul ul{
    top:auto;
}	

#nav li ul ul {
    left:10em;
    margin:0px 0 0 10px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
    display:none;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
    display:block;
}

/* Content > Sidebar > Updates*/

#updates {
}

#updates ul {
	margin: 0;
	list-style: none;
}

#updates h3 {
	margin: 0;
	font-size: x-small;
}

#updates p {
	margin-bottom: 1.4em;
	font-size: smaller;
	line-height: normal;
}

/* Content > Sidebar > Partners*/

#partners {
}

#partners .content {
	padding: 10px 0;
}

#partners ul {
	margin: 0;
	border-bottom: 1px solid #D1BC5C;
	list-style: none;
	line-height: normal;
}

#partners li {
	padding: 10px;
	border-top: 1px solid #D1BC5C;
}

/* Footer */

#footer {
	clear: both;
	padding: 20px 40px 40px 40px;
	background: #734415;
}

#footer p {
	margin: 0;
	font-size: x-small;
	color: #C7894C;
}

#footer a {
	text-decoration: underline;
	color: #C7894C;
}

#footer a:hover {
	text-decoration: none;
	color: #F4E7DB;
}

/* Footer > Legal */

#legal {
}

/* Footer > Links */

#links {
}