@media screen {
    body {
        background-color : white;
    }
}

html, body { 
	margin           : 0;
    padding          : 0;
    font-size        : 0.85em;
    font-weight      : normal;
    font-family      : verdana,arial,helvetica,clean,sans-serif,sans-serif;
    background-color : #fff;
    color            : black;
}

a img{
    border           : none;
}

p,
li, li, 
dt, dd, 
h1, h2, h3, h4, h5, h6, h7 {
    margin           : 0 0 1em 0;
}

label {
    display          : block;
}

.padding {
    padding          : 10px;
}
